.notfound

  .top_section.-universe
    min-height 700px

  #header
    .logo
      float none
      margin 0 auto

  .notfound--content
    text-align center
    padding-top 80px

    .notfound--icon
      display block
      margin 0 auto
      sprite($s-notfound)

    h1
      font-family 'Open Sans Condensed'
      font-size 68px
      color #FF5D61
      line-height 69px
      margin-top 24px

    .notfound--description
      font-size 20px
      color #6E989E
      letter-spacing 0px
      line-height 30px
      width 440px
      margin 24px auto
      text-align center

  .button_square
    padding-left 50px
    padding-right 50px
