.contacts-mobile
  padding-left 20px
  padding-right 20px
  &--headline 
    text-align center  
  &--description
    text-align center
.contacts--form--mobile
  width auto !important
.contacts--location-mobile
  text-align center
#contacts--message-mobile 
  width auto
  float none
#button_square--mobile
  width 100%
  text-align center
  box-sizing: border-box
.contacts--location-mobile
  padding-left 0 !important
#contacts--description--mobile
  width auto 