.referral
  h2
    padding-bottom 24px

  .referral--share
    label
      margin-right 10px

      &:last-child
        margin-right 0

    input
      display none

      &:checked
        + label
          border-color #fff
          color #fff

          &.-mail:before
            sprite($s-mail)

          &.-facebook:before
            sprite($s-facebook)

          &.-twitter:before
            sprite($s-twitter)

          &.-linkedin:before
            sprite($s-linkedin)

  .referral--send
    font-size 0
    margin 24px 8px 24px 0
    clearfix()

    .-half
      display inline-block
      width calc(50% - 10px)
      margin-right 20px
      margin-bottom 30px
      borderbox()

      &:nth-child(even)
        margin-right 0

    .referral--submit
      float right
      margin-top 20px



  .referral--stats
    padding-top 30px
    
    h2
      text-align center
      span
        color #66CC66

    .referral--count
      text-align center
      font-family 'Open Sans Condensed'
      font-size 34px
      color #FFF
      padding-bottom 30px

    .headline2
      text-align left
